{
  "openapi": "3.0.0",
  "info": {
    "title": "TEST | Lemousse",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lemousse.shop"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Пользователь"
    },
    {
      "name": "Пользователь > Заказы"
    },
    {
      "name": "Пользователь > Корзина"
    },
    {
      "name": "Каталог"
    },
    {
      "name": "Контент"
    },
    {
      "name": "NPS"
    },
    {
      "name": "Заказы"
    },
    {
      "name": "Заказы > Доставка"
    },
    {
      "name": "Общие данные"
    }
  ],
  "paths": {
    "/api/v2/user/orders": {
      "get": {
        "tags": [
          "Пользователь > Заказы"
        ],
        "summary": "api/v2/user/orders",
        "description": "Получить все заказы пользователя",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 15:08:49 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=QoVfh1R%2BGuj%2B7XwozFtGarb37eNwRTutIM%2FU1hqXPoUZBybGV7kFeAc9FdPne4XqPV0TU6cfipIZergtbaepgcHijbYtJdir%2BNHzmSW3UVCL\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "941408485db30983-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "id": 64,
                      "order_id": "LE64",
                      "user_id": 331756,
                      "recipient": {
                        "first_name": "test",
                        "second_name": null,
                        "last_name": "test",
                        "full_name": "test test test",
                        "email": "rusleeq@yandex.ru",
                        "phone": "+79616776768"
                      },
                      "is_voucher": false,
                      "cart": [
                        {
                          "id": 2,
                          "qty": 1,
                          "name": "Скраб для тела с ароматом летнего дождя (250мл (280г))",
                          "model": "scrub-ld",
                          "price": 1990
                        },
                        {
                          "id": 39,
                          "qty": 1,
                          "name": "Охлаждающий скраб для тела \"Холода Арктики\" (250мл (300г))",
                          "model": "scrub-cold",
                          "price": 1990
                        },
                        {
                          "id": 69,
                          "qty": 1,
                          "name": "Косметичка без наполнения (подарок)",
                          "model": "pack-b-cosmetic-gift",
                          "price": 0
                        }
                      ],
                      "shipping": {
                        "price": "1120",
                        "cdek-pvz-id": "SVB1",
                        "country_code": "0",
                        "shipping-code": "cdek",
                        "shipping-method": "СДЭК до ПВЗ",
                        "cdek-pvz-address": "ул. Вокзальная, 2"
                      },
                      "cart_total": 3980,
                      "amount": 1,
                      "discount": null,
                      "id_paid": 1,
                      "status": {
                        "key": "test",
                        "name": "Тест"
                      },
                      "created_at": "2023-03-07T23:35:49.000000Z",
                      "slug": "LE64_CXEZ"
                    },
                    {
                      "id": 35,
                      "order_id": "LE35",
                      "user_id": 331756,
                      "recipient": {
                        "first_name": "test",
                        "second_name": null,
                        "last_name": "test",
                        "full_name": "test test test",
                        "email": "rusleeq@yandex.ru",
                        "phone": "+79616776768"
                      },
                      "is_voucher": false,
                      "cart": [
                        {
                          "id": 138,
                          "qty": 1,
                          "name": "Соль для ванны малина",
                          "model": "sol-malina-new",
                          "price": 950
                        }
                      ],
                      "shipping": {
                        "price": "0",
                        "country_code": "0",
                        "shipping-code": "pickup",
                        "shipping-method": "Самовывоз в Волгограде"
                      },
                      "cart_total": 950,
                      "amount": 1,
                      "discount": null,
                      "id_paid": 1,
                      "status": {
                        "key": "test",
                        "name": "Тест"
                      },
                      "created_at": "2023-02-28T12:04:54.000000Z",
                      "slug": "LE35_NFSU"
                    },
                    {
                      "id": 34,
                      "order_id": "LE34",
                      "user_id": 331756,
                      "recipient": {
                        "first_name": "test",
                        "second_name": null,
                        "last_name": "test",
                        "full_name": "test test test",
                        "email": "rusleeq@yandex.ru",
                        "phone": "+79616776768"
                      },
                      "is_voucher": false,
                      "cart": [
                        {
                          "id": 138,
                          "qty": 1,
                          "name": "Соль для ванны малина",
                          "model": "sol-malina-new",
                          "price": 950
                        }
                      ],
                      "shipping": {
                        "price": "565",
                        "cdek-pvz-id": "ALV2",
                        "country_code": "0",
                        "shipping-code": "cdek",
                        "shipping-method": "СДЭК до ПВЗ",
                        "cdek-pvz-address": "ул. Победы, 51б"
                      },
                      "cart_total": 950,
                      "amount": 1,
                      "discount": null,
                      "id_paid": 0,
                      "status": {
                        "key": "cancelled",
                        "name": "Аннулирован"
                      },
                      "created_at": "2023-02-28T11:19:25.000000Z",
                      "slug": "LE34_LFXE"
                    }
                  ],
                  "links": {
                    "first": null,
                    "last": null,
                    "prev": null,
                    "next": null
                  },
                  "meta": {
                    "path": "https://api.lemousse.shop/api/v2/user/orders",
                    "per_page": 30,
                    "next_cursor": null,
                    "prev_cursor": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user/order/{slug}": {
      "get": {
        "tags": [
          "Пользователь > Заказы"
        ],
        "summary": "api/v2/user/order/:order",
        "description": "Получить заказ пользователя",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          },
          {
            "name": "slug",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "LE64_CXEZ"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 15:09:17 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=YvM%2BKtxbRBCVo6zFlrFE9ehhACG7LcC%2BJDudKs3wN0QbS260%2BqmbEVMZM8hK%2F%2BiVwBTtEAO3F0psbcpxdwpViWeWiFvwIi4TDC7FrhsIQ%2BgV\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "941408fa78be0983-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "id": 64,
                    "order_id": "LE64",
                    "user_id": 331756,
                    "recipient": {
                      "first_name": "test",
                      "second_name": null,
                      "last_name": "test",
                      "full_name": "test test test",
                      "email": "rusleeq@yandex.ru",
                      "phone": "+79616776768"
                    },
                    "is_voucher": false,
                    "cart": [
                      {
                        "id": 2,
                        "qty": 1,
                        "name": "Скраб для тела с ароматом летнего дождя (250мл (280г))",
                        "model": "scrub-ld",
                        "price": 1990
                      },
                      {
                        "id": 39,
                        "qty": 1,
                        "name": "Охлаждающий скраб для тела \"Холода Арктики\" (250мл (300г))",
                        "model": "scrub-cold",
                        "price": 1990
                      },
                      {
                        "id": 69,
                        "qty": 1,
                        "name": "Косметичка без наполнения (подарок)",
                        "model": "pack-b-cosmetic-gift",
                        "price": 0
                      }
                    ],
                    "shipping": {
                      "price": "1120",
                      "cdek-pvz-id": "SVB1",
                      "country_code": "0",
                      "shipping-code": "cdek",
                      "shipping-method": "СДЭК до ПВЗ",
                      "cdek-pvz-address": "ул. Вокзальная, 2"
                    },
                    "cart_total": 3980,
                    "amount": 1,
                    "discount": null,
                    "id_paid": 1,
                    "status": {
                      "key": "test",
                      "name": "Тест"
                    },
                    "created_at": "2023-03-07T23:35:49.000000Z",
                    "slug": "LE64_CXEZ"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user/addresses": {
      "get": {
        "tags": [
          "Пользователь > Заказы"
        ],
        "summary": "api/v2/user/addresses",
        "description": "Получить адреса пользователя",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 15:21:43 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=o2fwtN346nH5fZZliUUoPDv5s9h0lAzK4MIir%2BcUBFnplmXPEBEj7%2BmChm3Nv9qdxtbq0QWkakJ3B10AAByHNQEz0CcrRxBDtEnWGd2hDbzl\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "94141b2e9e9e9717-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "address_id": 1,
                      "shipping_code": "pickup",
                      "shipping_name": "Самовывоз в Волгограде",
                      "country_code": "643",
                      "country": "Россия",
                      "address": "г. Волгоград, пр. Жукова 100б (вход через магазин \"магнит\")",
                      "is_default": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user/addresses/{id}/default": {
      "put": {
        "tags": [
          "Пользователь > Заказы"
        ],
        "summary": "api/v2/user/addresses/:id/default",
        "description": "Установить адрес по умолчанию. Если у другого адреса есть is_default = true, он будет изменен на false",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 15:23:54 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=8F0%2F1FLRqP6gfSd0UFJAgYIty2AOdnRW4%2B%2Biw%2BuGDSePHmgwQZlWpPjax%2BDFkNkQhk%2B3NVW1lH6W9pQXInjDFg2TiOlt50ZIRZKf6Y1qKNmh\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "94141e5ede899717-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "address_id": 1,
                    "shipping_code": "pickup",
                    "shipping_name": "Самовывоз в Волгограде",
                    "country_code": "643",
                    "country": "Россия",
                    "address": "г. Волгоград, пр. Жукова 100б (вход через магазин \"магнит\")",
                    "is_default": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user/addresses/{id}": {
      "delete": {
        "tags": [
          "Пользователь > Заказы"
        ],
        "summary": "api/v2/user/addresses/:id",
        "description": "Удалить адрес",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "1"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 15:24:53 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=ZpMLBFGzrYXWyZablLIwnVLfuB94psfUdaiwK8JQPsXeB%2B4TrPyAASwPutvhHNdPBFnQRVts8u%2F73%2B9Mn45RtzOcfV3Q3Sf%2BlHlPT7juzJx8\"}]}"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "94141fd09a119717-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/api/v2/cart": {
      "get": {
        "tags": [
          "Пользователь > Корзина"
        ],
        "summary": "api/v2/cart",
        "description": "Получить корзину пользователя\n\nТребуется авторизация пользователя",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 14:56:53 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=IFAqHFWFIkDPhEAwnzFaHJaV4dBO%2FiLU%2FIQMpMNpUTlJO6Emtxmxo%2BA7YCsNPLKeqh21CmX9MQLXu80o2bZ%2B2mgWJgaBuC9iKGhffUWAoye1\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9413f6d03dca656f-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "item_id": 1,
                      "id": 1000,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 1000,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": 0,
                      "product": {
                        "id": 1000,
                        "name": "Увлажняющий крем",
                        "sku": "moistcrm",
                        "volume": "50ml",
                        "weight": 405,
                        "image": "https://lemousse.shop/storage/photos/shares/products/moistcrm/Rectangle 6760.png",
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 5800,
                        "quantity": 23,
                        "status": 1,
                        "slug": "uvlazhnyayushchiy_krem",
                        "order": 475,
                        "keywords": "увлажнение, лица, питание, кожи, сухой, для, лицо, крм",
                        "is_favorite": 0,
                        "is_voucher": false
                      }
                    },
                    {
                      "item_id": 2,
                      "id": 1002,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 1200,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": 0,
                      "product": {
                        "id": 1002,
                        "name": "Себорегулирующий крем",
                        "sku": "sebocrm",
                        "volume": "50ml",
                        "weight": 421,
                        "image": "https://lemousse.shop/storage/photos/shares/products/sebocrm/1233304.jpg",
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 6200,
                        "quantity": 13,
                        "status": 1,
                        "slug": "seboreguliruyushchiy_krem",
                        "order": 475,
                        "keywords": "refill, рефил, прыщей, высыпаний, жирной, кожи, для, лица, лицо, крм",
                        "is_favorite": 0,
                        "is_voucher": false
                      }
                    },
                    {
                      "item_id": 3,
                      "id": 1001,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 1100,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": 0,
                      "product": {
                        "id": 1001,
                        "name": "Питательный ночной крем",
                        "sku": "nutrcrm",
                        "volume": "50ml",
                        "weight": 427,
                        "image": "https://lemousse.shop/storage/photos/shares/products/nutrcrm/5.png",
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 6200,
                        "quantity": 25,
                        "status": 1,
                        "slug": "pitatelniy_krem",
                        "order": 475,
                        "keywords": "лица, увлажнение, питание, сухой, кожи, ночь, вечер",
                        "is_favorite": 0,
                        "is_voucher": false
                      }
                    },
                    {
                      "item_id": 4,
                      "id": 1003,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 2100,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": 0,
                      "product": {
                        "id": 1003,
                        "name": "Крем для нормальной кожи",
                        "sku": "normcrm",
                        "volume": "50ml",
                        "weight": 424,
                        "image": "https://lemousse.shop/storage/photos/shares/products/normcrm/1209.png",
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 4200,
                        "quantity": 20,
                        "status": 1,
                        "slug": "krem_dlya_normalnoy_kozhi",
                        "order": 475,
                        "keywords": "нормальная, кожа, увлажнение, лица, ночной, на, каждый, день, ежедневный",
                        "is_favorite": 0,
                        "is_voucher": false
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cart/bulk": {
      "post": {
        "tags": [
          "Пользователь > Корзина"
        ],
        "summary": "api/v2/cart/bulk",
        "description": "Массовое добалвение элементов в корзину пользователя\n\nУже добавленные товары не будут изменены или удалены\n\nТребуется авторизация пользователя\n\nТребуется передача корзины в теле запроса в формате\n\n``` json\n[{  \n\"item_id\": 1, // id элемента корзины   \n\"id\": 2, // id товара        \n\"qty\": 1, // количество        \n\"price\": 1000, // цена,\n\"is_gift\": false // подарок\n\"weight\": 100 // вес товара\n}]\n\n ```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "id": 1000,
                    "qty": 1,
                    "price": 1000,
                    "is_gift": false,
                    "weight": 100
                  },
                  {
                    "id": 1002,
                    "qty": 1,
                    "price": 1200,
                    "is_gift": false,
                    "weight": 100
                  },
                  {
                    "id": 1001,
                    "qty": 1,
                    "price": 1100,
                    "is_gift": false,
                    "weight": 100
                  },
                  {
                    "id": 1003,
                    "qty": 1,
                    "price": 2100,
                    "is_gift": false,
                    "weight": 100
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 14:56:31 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=ZZgLmqlUZJQM2ziUakJi5gYTqrfkJ5k2FKN879oHJwTmdKSJDjArw1kiLNqLD7G4ICqm5f0eq6mv2MVi0UsHzVC0k6wC6l8HY0E%2FHJLz7Xn7\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9413f6463f9e656f-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "success",
                  "added_items": [
                    {
                      "item_id": 1,
                      "id": 1000,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 1000,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": false,
                      "product": {
                        "id": 1000,
                        "name": "Увлажняющий крем",
                        "sku": "moistcrm",
                        "volume": "50ml",
                        "weight": 405,
                        "image": null,
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 5800,
                        "quantity": 23,
                        "status": 1,
                        "slug": "uvlazhnyayushchiy_krem",
                        "order": 475,
                        "keywords": "увлажнение, лица, питание, кожи, сухой, для, лицо, крм",
                        "is_favorite": null,
                        "is_voucher": false
                      }
                    },
                    {
                      "item_id": 2,
                      "id": 1002,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 1200,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": false,
                      "product": {
                        "id": 1002,
                        "name": "Себорегулирующий крем",
                        "sku": "sebocrm",
                        "volume": "50ml",
                        "weight": 421,
                        "image": null,
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 6200,
                        "quantity": 13,
                        "status": 1,
                        "slug": "seboreguliruyushchiy_krem",
                        "order": 475,
                        "keywords": "refill, рефил, прыщей, высыпаний, жирной, кожи, для, лица, лицо, крм",
                        "is_favorite": null,
                        "is_voucher": false
                      }
                    },
                    {
                      "item_id": 3,
                      "id": 1001,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 1100,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": false,
                      "product": {
                        "id": 1001,
                        "name": "Питательный ночной крем",
                        "sku": "nutrcrm",
                        "volume": "50ml",
                        "weight": 427,
                        "image": null,
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 6200,
                        "quantity": 25,
                        "status": 1,
                        "slug": "pitatelniy_krem",
                        "order": 475,
                        "keywords": "лица, увлажнение, питание, сухой, кожи, ночь, вечер",
                        "is_favorite": null,
                        "is_voucher": false
                      }
                    },
                    {
                      "item_id": 4,
                      "id": 1003,
                      "user_id": 331756,
                      "qty": 1,
                      "price": 2100,
                      "old_price": 0,
                      "weight": 100,
                      "is_gift": false,
                      "product": {
                        "id": 1003,
                        "name": "Крем для нормальной кожи",
                        "sku": "normcrm",
                        "volume": "50ml",
                        "weight": 424,
                        "image": null,
                        "image2": null,
                        "marks": {
                          "soon": false
                        },
                        "tags": [],
                        "category_id": 11,
                        "subcategories": null,
                        "old_price": null,
                        "price": 4200,
                        "quantity": 20,
                        "status": 1,
                        "slug": "krem_dlya_normalnoy_kozhi",
                        "order": 475,
                        "keywords": "нормальная, кожа, увлажнение, лица, ночной, на, каждый, день, ежедневный",
                        "is_favorite": null,
                        "is_voucher": false
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Пользователь > Корзина"
        ],
        "summary": "api/v2/cart/bulk",
        "description": "Синхронизация корзины пользователя\n\nНовые продукты будут добавлены, существующие обновлены, лишние продукты будут удалены\n\nТребуется авторизация пользователя\n\nВ теле запроса неободимо передать json в формате\n\n{  \n\"item_ids\": \\[id продуктов\\]  \n}",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 14:58:23 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=fFonPPe8o9nlAUsFwXf1Yx4oK5D2u5C08ZuK3Mc6LAQL1M0DEyeIwLx3RK%2BxE1eEPeucehquIhda2sIjNil36i0LdtW4vbcpLVmBmE4N4mXo\"}]}"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9413f8fd7df1656f-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/api/v2/cart/add": {
      "post": {
        "tags": [
          "Пользователь > Корзина"
        ],
        "summary": "api/v2/cart/add",
        "description": "Добавить товар в корзину\n\nЕсли такой товар уже в корзине, вернет ошибку\n\nТребуется авторизация пользователя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": ""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "ID товара (обязательное)",
            "example": "1006"
          },
          {
            "name": "qty",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Количество товара (обязательное)",
            "example": "1"
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Стоимость товара (необязательное)"
          },
          {
            "name": "old_price",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Старая стоимость товара (необязательное)"
          },
          {
            "name": "is_gift",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Признак подарка"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 14:59:36 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=lA0MOhrnb8Z0FA%2FjrQibmWH7B2ONI4EOULxpvOyeL5EsK2mjXjrgxYyreiLDcqukJiaSbEnM%2BuMeqHb3Eh2II55kDXI9Y07FAbh2buerQhd6\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9413fac7a83abcc9-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "success",
                  "item": {
                    "item_id": 5,
                    "id": "1006",
                    "user_id": 331756,
                    "qty": 1,
                    "price": 6800,
                    "old_price": 0,
                    "weight": 125,
                    "is_gift": false,
                    "product": {
                      "id": 1006,
                      "name": "Сыворотка для восстановления микробиома",
                      "sku": "microbser",
                      "volume": "30ml",
                      "weight": 125,
                      "image": null,
                      "image2": null,
                      "marks": {
                        "soon": false
                      },
                      "tags": [],
                      "category_id": 11,
                      "subcategories": null,
                      "old_price": null,
                      "price": 6800,
                      "quantity": 18,
                      "status": 1,
                      "slug": "sivorotka_dlya_vosstanovleniya_mikrobioma",
                      "order": 480,
                      "keywords": "уход, за, кожей, увлажнение, питание, лица, сухой, кожи, сухая, кожа, восстановление, прыщи, акне, жирная, крем",
                      "is_favorite": null,
                      "is_voucher": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cart/{cart_item_id}": {
      "put": {
        "tags": [
          "Пользователь > Корзина"
        ],
        "summary": "api/v2/cart/:cart_item_id",
        "description": "Обновить товар в корзине, если товар не будет найден во время запроса (выключен или удален), он удалится из корзины\n\nТребуется авторизация пользователя",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": ""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          },
          {
            "name": "qty",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Количество товара (обязательное)",
            "example": "5"
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Стоимость товара (необязательное)"
          },
          {
            "name": "old_price",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Старая стоимость товара (необязательное)"
          },
          {
            "name": "is_gift",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Признак подарка"
          },
          {
            "name": "cart_item_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID элемента корзины",
            "example": "3"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 15:01:17 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=v0hYjnHTM0Zogf8cdnIeXEiM3an9gRsI1U%2FUSnEgjrqNq8cj26YAjiOsmXAmzl8u3BdxZ0%2FjpdfFQcqEGpTOfs%2BoSNPlScj3ni1MMeWyhDmX\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9413fd3eb9f097c4-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "success",
                  "item": {
                    "item_id": 3,
                    "id": 1001,
                    "user_id": 331756,
                    "qty": 5,
                    "price": 6200,
                    "old_price": 0,
                    "weight": 427,
                    "is_gift": false,
                    "product": {
                      "id": 1001,
                      "name": "Питательный ночной крем",
                      "sku": "nutrcrm",
                      "volume": "50ml",
                      "weight": 427,
                      "image": null,
                      "image2": null,
                      "marks": {
                        "soon": false
                      },
                      "tags": [],
                      "category_id": 11,
                      "subcategories": null,
                      "old_price": null,
                      "price": 6200,
                      "quantity": 25,
                      "status": 1,
                      "slug": "pitatelniy_krem",
                      "order": 475,
                      "keywords": "лица, увлажнение, питание, сухой, кожи, ночь, вечер",
                      "is_favorite": null,
                      "is_voucher": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Пользователь > Корзина"
        ],
        "summary": "api/v2/cart/:cart_item_id",
        "description": "Удалить товар из корзины\n\nТребуется авторизация пользователя",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM5MTUxMCwiZXhwIjoxNzQ5OTgzNTEwLCJuYmYiOjE3NDczOTE1MTAsImp0aSI6ImVmUWJEVkdIUW9jTjhwNkIiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.pjRLMpMIK7KNVcWaDyryLy5dlr1GqHrMHquZgUB-sME"
          },
          {
            "name": "cart_item_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID элемента корзины",
            "example": "4"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 17 May 2025 15:02:19 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=sxJBE8ALglc2kzd5gAsiV%2BLC6nN78DezH9WD74dkZETCIBxY3buJkbwc8lKUg3JWJaTvCzoR%2FwcsplUQtgVFdWbpniw82ps32XauFmFrdSgQ\"}]}"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9413fec0dcc097c4-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": null
              }
            }
          }
        }
      }
    },
    "/api/v2/login": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "api/v2/login",
        "description": "Авторизация пользователя",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Email пользователя",
            "example": "test10@mail.com"
          },
          {
            "name": "password",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Пароль пользователя",
            "example": "test10@mail.com"
          },
          {
            "name": "remember_me",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Запомнить авторизацию",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 May 2025 07:50:30 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=xcrnQIHnlJ2JMJwbbJv4QB7NNuIQ2Ao1O1GuiyeZCQBsDXaVm2S4P9ObhgMS5QlImMezpUNVtjUJFgzdBDChw9N%2BXgwMhel%2FTYh39nqqP%2BFrQsOG7iM8G7OG42ssTtQT8XGg3Q%3D%3D\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "940948d478560be1-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "user": {
                    "id": 331756,
                    "first_name": "test",
                    "second_name": null,
                    "last_name": "test",
                    "email": "test10@mail.com",
                    "phone": "213123123",
                    "balance": 0
                  },
                  "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM4MTgzMCwiZXhwIjoxNzQ5OTczODMwLCJuYmYiOjE3NDczODE4MzAsImp0aSI6InhqVlNCMHRLS0xpQjJ6OGYiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.jGGV-Q-bTE_xO6cpatEN3DFwuwlAT2BgajIiWHt8LxU",
                  "expires_in": 43200
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/register": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "api/v2/register",
        "description": "Авторизация пользователя",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "first_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Имя пользователя",
            "example": "test"
          },
          {
            "name": "second_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Отчество (необязательно)",
            "example": "test"
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Фамилия",
            "example": "test"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Email пользователя",
            "example": "test10@mail.com"
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Телефон пользователя",
            "example": "213123123"
          },
          {
            "name": "password",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Пароль пользователя",
            "example": "test10@mail.com"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 May 2025 07:49:22 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=ioezdI8sdPuKdWKbOmMlNZGVPoNVVRj%2F1qeozZlalSG4hEHWpt1xB42nt0nSK%2FYc63YNRBFBdtnCKDKmo4OZq4bd%2BhkBAffWh7MvKAZ0%2Bh67M0Wy0RZa5lsa7OwWBK9sd29Rig%3D%3D\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "9409472dfdca9d6a-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "user": {
                    "id": 331756,
                    "first_name": "test",
                    "second_name": null,
                    "last_name": "test",
                    "email": "test10@mail.com",
                    "phone": "213123123",
                    "balance": 0
                  },
                  "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9yZWdpc3RlciIsImlhdCI6MTc0NzM4MTc2MiwiZXhwIjoxNzQ3Mzg1MzYyLCJuYmYiOjE3NDczODE3NjIsImp0aSI6IjRrdlpGVkxMQ3RtWTNzd0siLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.8rivAE_0maGJ3CU6AOscBoBWgb2n2S17OS007UiQ3rY",
                  "expires_in": 60
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/forgot-password": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "api/v2/forgot-password",
        "description": "Авторизация пользователя",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Email пользователя",
            "example": "rusleeq@ya.ru"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 May 2025 08:00:22 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=Rud2m3%2B2sqGR%2BElzahP5RArYUNTcqMR2jqYA4mlw15tB%2BZj84CJDpi88LcR%2F5WNsqufEkkISrT7T8UhhX8MYeQZ4%2F29iFbWgim3MLXD%2FEMTR8oqmZ6JMOg2wSSk8nkoh0wjtKQ%3D%3D\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "940957466e90d9f2-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Password reset link sent to your email"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/reset-password": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "api/v2/reset-password",
        "description": "Авторизация пользователя",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Email пользователя",
            "example": "rusleeq@ya.ru"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Токен восстановления пароля",
            "example": "8f4d02595820648d671d05613850ac7095c5c44557be7c9cc7d5df7f3ff74bb5"
          },
          {
            "name": "password",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Новый пароль ",
            "example": "rusleeq1@ya.ru"
          },
          {
            "name": "password_confirmation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Подтверждение пароля",
            "example": "rusleeq1@ya.ru"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 May 2025 08:04:40 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=FDzE%2FVzhozkZy4Cfq2h2%2F0NA42v4brHnfPBOwafiFqvd0eGX2w%2F9E1zWB%2FlXVODdeBWshmMX%2F6rq3vEu8QhBFmarO9P0s0dG4CCCnQYWlX55RTomTuhrUpd62F7CYej9BvjSqA%3D%3D\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "94095d989ce96562-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Password has been reset successfully"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user": {
      "get": {
        "tags": [
          "Пользователь"
        ],
        "summary": "api/v2/user",
        "description": "Получить текущего авторизованного пользователя",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Токен пользователя",
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM4MTgzMCwiZXhwIjoxNzQ5OTczODMwLCJuYmYiOjE3NDczODE4MzAsImp0aSI6InhqVlNCMHRLS0xpQjJ6OGYiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.jGGV-Q-bTE_xO6cpatEN3DFwuwlAT2BgajIiWHt8LxU"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 May 2025 08:42:22 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=PhkIHa0RDsZRdR4y6j0kCYVLv59cHQzrFAwUtsq3DyYgpWBKiRq6rzrk9DFMuoRQITOSbTzzj1YEOP1cEb91qTuZx1RPcOkaA%2FArgXYWds4pN8f%2BmG9O5kItUm1FR6ME6LVIlg%3D%3D\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "940994d2df04c099-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "user": {
                    "id": 331756,
                    "first_name": "test",
                    "second_name": null,
                    "last_name": "test",
                    "email": "test10@mail.com",
                    "phone": "213123123",
                    "balance": 0
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Пользователь"
        ],
        "summary": "api/v2/user",
        "description": "Обновить данные пользователя",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "User-Token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Токен пользователя",
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5sZW1vdXNzZS5zaG9wL2FwaS92Mi9sb2dpbiIsImlhdCI6MTc0NzM4MTgzMCwiZXhwIjoxNzQ5OTczODMwLCJuYmYiOjE3NDczODE4MzAsImp0aSI6InhqVlNCMHRLS0xpQjJ6OGYiLCJzdWIiOiIzMzE3NTYiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.jGGV-Q-bTE_xO6cpatEN3DFwuwlAT2BgajIiWHt8LxU"
          },
          {
            "name": "first_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Имя пользователя",
            "example": "test"
          },
          {
            "name": "second_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Отчество (необязательно)",
            "example": "test"
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Фамилия",
            "example": "test"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Email пользователя",
            "example": "test10@mail.com"
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Телефон пользователя",
            "example": "100001331"
          },
          {
            "name": "password",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Пароль пользователя",
            "example": "test10@mail.com"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 May 2025 08:49:03 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Cf-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Nel": {
                "schema": {
                  "type": "number",
                  "example": "{\"report_to\":\"cf-nel\",\"success_fraction\":0.0,\"max_age\":604800}"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"url\":\"https://a.nel.cloudflare.com/report/v4?s=UEOn1LvJu5lYPfpMZJC5JbkcD%2F%2BYRNBgKaoE%2FWGAid0zY9Hc92zORzPiNSHsrRUPY%2BmcawdNA2gGwIToRxoeYGQn626lHsXlcI5F6YSELyxpNxaytIP5g8CQbt3o%2Fs%2FMsSo1uA%3D%3D\"}]}"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "94099e9c0c26b660-AMS"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
[...]
